.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 240, 240);
    margin-top: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    position: fixed;
}

.name {
    position: absolute;
    font-size: 30px;
    left: 6%;
    transform: translateY(-50%);
}
.name-title {
    position:absolute;
    left:25%;
    transform: translateY(-40%);
    
}
.ul-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right:5%;
    list-style-type: none;
    font-size: 25px;
    font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
}

.li-list {
    margin-left: 0px;
    color: black;
}
.span{
    margin: 14px;
}
.badge-name{
    position: absolute;
    left:2%;
    transform: translateY(-50%);
     width: 40px;
    /* Adjust the width and height as desired */
     height: 40px;
    border-radius: 50%;
    /* Apply a border radius of 50% to create a circle */
    background-color: #ff9900;
    /* Add any desired background color */
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .name {
        position: static;
        margin-left: 20px;
        /* Adjust the margin value as per your preference */
        margin-bottom: 10px;
    }

    .ul-list {
        flex-direction: column;
        align-items: center;
    }
}