.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 240, 240);
    margin-top: 0;
    padding: 0;
    height: 100px;
    width: 100vw;
    position: relative;
}

.name {
    position: absolute;
    font-size: 25px;
    left: 6%;
    transform: translateY(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name-title {
    position:absolute;
    left:25%;
    transform: translateY(-40%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 16px;
}
.ul-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right:5%;
    list-style-type: none;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.li-list {
    margin-left: 0px;
    color: black;
}
.span{
    margin: 14px;
}
.badge-name{
    position: absolute;
    left:2%;
    transform: translateY(-50%);
     width: 40px;
     height: 40px;
    border-radius: 50%;
    background-color: #ffa600;   
}

.a-links {
    color:grey;
    text-decoration: none;
}    

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .name {
        position: static;
        margin-left: 20px;
        /* Adjust the margin value as per your preference */
        margin-bottom: 10px;
    }

    .ul-list {
        flex-direction: column;
        align-items: center;
    }
}
