.resume-container {
    display: grid;
    grid-template-columns: 1.5fr 0.80fr 1.5fr;
    /* Three equal columns */
    grid-template-rows: 1fr 1fr 1fr;
    /* Three equal rows */
    gap: 10px;
    /* Gap between grid items */
    margin: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.resume-item {
    /* border: 1px solid #ccc; */
    padding: 10px;
    text-align: center;
}
.last-col-items{
    text-align: left;
}
.line{
    margin-top:30px;
    border: 1px solid grey;
}
.skills-list{
    margin-bottom: -100px;
}
.resume-heading{
    position: relative;
    left:20%;
    transform: translateY(100%);
    font-size: 40px;
}
.class{
    color:gray;
    font-size: medium;
}